@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400;1,500&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
#main-header{
    display: flex;
    flex-wrap:wrap;
    flex-direction: row;
    justify-content:space-between;
    background-color:red;
}
#navbar li{
display:inline-flex;
padding:4rem;
justify-content:space-between;
}
#navbar ul a{
    text-decoration:none;
    color:white;
    font-size:larger;
}
#navbar ul a:hover{
    color: red;
}
.navitem{
 padding:0.2rem 0.2rem 0.2rem 0.1rem;
}
.navitem:hover{
    background-color: white;
}
body{
    font-family: 'Playfair Display', 'serif';
    background-color: rgb(231, 226, 226);
}
#container-1{
    margin-left:20%;
    margin-right: 20%;
    overflow: hidden;
}
#form-title{
    font-size: 4rem;
    text-align: center;
}
#main-form{text-align:center; }
#ema{
    width:35%;
    height:1.3rem;
     border-radius: 2rem;
   margin-bottom:0.3rem;
}
#submit{
    width: 13%;
    height:1.7rem;
    background-color: rgb(12, 247, 12);
    color: white;
    border-radius: 2rem;
    border: none;
}
#submit:hover{
    transform: scale(1.2);
    overflow: hidden;
    }
#features{
    display:flex;
    flex-direction:column;
    margin-bottom:2rem;
    margin-top:2rem;
    padding-left:25%;
}
#features .feature{
    display:inline-flex;
    padding-bottom:1rem;
}
#features .feature i{
    color:red;
}
#f1{
    margin-right:4rem;
}
#f2{
    margin-right:2rem;
}
#video-inner{
    width:100%;
    height:28rem;
}
#video-outer { margin-bottom:2rem; }
#container-2{
    margin-left:10%;
    margin-right: 10%;
    overflow: hidden;
    margin-bottom: 2rem;
}
#pricing{
    display:flex;
    flex-wrap:wrap;
    justify-content:space-between;
    text-align: center;
}
.price-box{
    transform-style: preserve-3d;
    transition: all 0.1s ease;
}
.price-box:hover{
    transform: rotateY(180deg);
}
.front{
backface-visibility: hidden;
border:solid;
padding-bottom:0.5rem;
border-radius:0px 0px 15px 15px;
position: fixed;
background-color: rgb(255 5 5 / 96%);
}
.back{
transform: rotateY(180deg);
backface-visibility: hidden;
border:solid;
border-radius:0px 0px 15px 15px;
padding-bottom:0.5rem;
background-color: white;
}
button{
    width: 45%;
    height:1.7rem;
    background-color: rgb(12, 247, 12);
    color: white;
    border-radius: 2rem;
    border: none;
}
button:hover{
transform: scale(1.1);
overflow: hidden;
}
.p1{
    padding: 1rem;
    background-color:rgb(255 5 5 / 96%);
    color:white;
    font-size:1.3rem;
    font-weight:bolder;  
}
.p11{
    padding: 2.3rem;
    background-color:rgb(255 5 5 / 96%);
    color:white;
    font-size:1.3rem;
    font-weight:bolder;
}
.p2{
    font-size:1.1rem;
    font-weight:bolder;
    padding:0.4rem;
}
.p3{
    font-size:1.1rem;
    font-weight:lighter;
    padding:0.4rem;
}
#contact-us{
    display: flex;
    flex-wrap:wrap;
    background-color: rgb(63, 62, 62);
    justify-content: space-between;
    color:white;
    font-size:large;
    padding:0.3rem;
}
#contact-us a{
color: white;
text-decoration: none;
}
@media (max-width:360px){
    #main-header{
        justify-content:center;
        background-color:red;
    }
    #navbar li{
    padding:1rem;
    justify-content:center;
    }
    #container-1{
        margin-left:10%;
        margin-right: 10%;
    }
    #form-title{
        font-size: 2.5rem; 
    }
    #ema{
        width:50%;
    }  
    #submit{
        width: 23%;
    }
    #header-img img{
        width:19rem;
     }  
     #container-2{
        margin-left:20%;
        margin-right: 20%;
        }  
        .price-box{
            margin-top:1rem;
        }     
    }
#header-img{
    display: block;
    position: relative;
  animation-name: run;
  animation-duration: 4s;
  animation-iteration-count:initial;
  animation-timing-function:ease-out;
}
@keyframes run {
    0%   { left:-55rem;}
    25%  {left: -55rem;}
    50%  {left: 1rem;;}
    100%  {left:1.5rem;;}
  }
#header-img{
    padding-left:2rem;
}
